@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using DummyBlazorServerApp.Data
@inject WeatherForecastService ForecastService

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Weather forecast</h1>
        </div>
        <div class="col">
            <h1>Forecasts Made: @forecastsMade</h1>
        </div>
    </div>
</div>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items=@forecasts Context=forecast>
                @if (forecast.Summary == "Hot")
            {
                <tr class="highlight">
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </Virtualize>
    </tbody>
</table>
}

@code {
    private WeatherForecast[]? forecasts;
    private int forecastsMade;
    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        forecastsMade = forecasts.Length;
    }
}
<style>
.highlight{
    color: red;
}
</style>